<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Библиотека Матухин</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{lang_data.title[page_language]}}</h1>
    <Button @click="changeLang">{{lang_data.language[page_language]}}</Button>

    <div>
      <h2>{{lang_data.add_a_book[page_language]}}</h2>
      <input v-model="newBook.title" :placeholder="lang_data.book_title[page_language]" />
      <input v-model="newBook.author" :placeholder="lang_data.book_author[page_language]" />
      <button @click="addBook">{{lang_data.add_a_book[page_language]}}</button>
    </div>
    <div v-if="showBookLabel" id="bookLabel" class="bookLabel">
      <button style="position: absolute; top: 0; right: 0;" @click="closeModal">&times;</button>
      <h2>{{bookInLabel.title}}</h2>
      <p>{{bookInLabel.author}}</p>
      <p>{{bookInLabel._id}}</p>
      <ul class="table-list">
        <li class="table-header">
          <span>{{ lang_data.newReader_lastName[page_language] }}</span>
          <span>{{ lang_data.newReader_days[page_language] }}</span>
        </li>
        <li v-for="reader in bookInLabel.readers" :key="reader.lastname" class="table-row">
          <span>{{ reader.lastname }}</span>
          <span>{{ reader.days }}</span>
        </li>
      </ul>
      
      <button @click="showBookLabel = false">Close</button>
      <button @click="showTotalTime(bookInLabel._id)">{{lang_data.show_total_time[page_language]}}</button>
      <button @click="showReaderModal(bookInLabel._id)">{{lang_data.book_add_reader[page_language]}}</button>
      <button @click="">Edit</button>
      <button @click="">Delete</button>
    </div>
    <div v-if="showReaderLabel" id="readerLabel" class="readerLabel">
        <button style="position: absolute; top: 0; right: 0;" @click="closeModal">&times;</button>
        <h2>{{bookInLabel.title}}</h2>
        <p>{{bookInLabel.author}}</p>
        <p>{{bookInLabel._id}}</p>
        <h3>{{lang_data.newReader_title[page_language]}}</h3>
        <label>{{lang_data.newReader_lastName[page_language]}}<input type="text" v-model="newReader.lastname" :placeholder=lang_data.newReader_lastName[page_language]></label>
        <label>{{lang_data.newReader_days[page_language]}}<input type="number" v-model="newReader.days" :placeholder=lang_data.newReader_days[page_language]></label>
        <button @click="addReader()">{{lang_data.newReader_confirm[page_language]}}</button>
      </div>
    <div>
      <h2>{{lang_data.books_list[page_language]}} {{books.length}}</h2>
      <ul>
        <li v-for="book in books" :key="book._id">
          <strong>{{ book.title }}</strong> {{ lang_data.for_by[page_language] }} {{ book.author }}
          <button @click="showBookLabel = true; bookInLabel = book">{{lang_data.book_show_label[page_language]}}</button>

        </li>
      </ul>
    </div>
  </div>

  <script src="index.js" type="module"></script>
</body>
</html>